{% extends "layout.html" %}

{% block pageTitle %}
Part A - Edit Branch
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Send funeral or crematorium information to the CMA",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="./report_fd_10" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-xl">Add branch</h1>


<p class="govuk-body">Change details of your branch name, total revenue or number of services from 1 September to the last day of February.</p>


    <div class="govuk-form-group"><label for="branch-name-field" class="govuk-label govuk-label--m">Branch name</label><input id="branch-name-field" class="govuk-input govuk-!-width-one-half" type="text" value="Example Branch" name="branch[name]" /></div>


        <fieldset class="govuk-fieldset"><legend class="govuk-fieldset__legend govuk-fieldset__legend--m">CMA attended</legend>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group"><label for="branch-cma-attended-revenue-field" class="govuk-label">Total revenue</label><div class="govuk-hint" id="branch-cma-attended-revenue-hint">(excluding disbursements)</div><div class="govuk-input__wrapper"><span class="govuk-input__prefix" aria-hidden="true">£</span><input id="branch-cma-attended-revenue-field" class="govuk-input govuk-input--width-10" aria-describedby="branch-cma-attended-revenue-hint" value="0" pattern="[0-9]*" inputmode="numeric" step="1" type="text" name="branch[cma_attended_revenue]" /></div></div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group"><label for="branch-cma-attended-number-field" class="govuk-label">Funerals arranged</label><div class="govuk-hint" id="branch-cma-attended-number-hint">Funerals carried out over the reporting period</div><input id="branch-cma-attended-number-field" class="govuk-input govuk-input--width-5" aria-describedby="branch-cma-attended-number-hint" inputmode="numeric" type="text" value="12" name="branch[cma_attended_number]" /></div>
                </div>
            </div>
</fieldset>
        <fieldset class="govuk-fieldset"><legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Other attended</legend>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group"><label for="branch-other-attended-revenue-field" class="govuk-label">Total revenue</label><div class="govuk-hint" id="branch-other-attended-revenue-hint">(excluding disbursements)</div><div class="govuk-input__wrapper"><span class="govuk-input__prefix" aria-hidden="true">£</span><input id="branch-other-attended-revenue-field" class="govuk-input govuk-input--width-10" aria-describedby="branch-other-attended-revenue-hint" value="0" pattern="[0-9]*" inputmode="numeric" type="text" name="branch[other_attended_revenue]" /></div></div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group"><label for="branch-other-attended-number-field" class="govuk-label">Funerals arranged</label><div class="govuk-hint" id="branch-other-attended-number-hint">Funerals carried out over the reporting period</div><input id="branch-other-attended-number-field" class="govuk-input govuk-input--width-5" aria-describedby="branch-other-attended-number-hint" inputmode="numeric" type="text" value="12" name="branch[other_attended_number]" /></div>
                </div>
            </div>
</fieldset>
        <fieldset class="govuk-fieldset"><legend class="govuk-fieldset__legend govuk-fieldset__legend--m">CMA unattended</legend>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group"><label for="branch-cma-unattended-revenue-field" class="govuk-label">Total revenue</label><div class="govuk-hint" id="branch-cma-unattended-revenue-hint">(excluding disbursements)</div><div class="govuk-input__wrapper"><span class="govuk-input__prefix" aria-hidden="true">£</span><input id="branch-cma-unattended-revenue-field" class="govuk-input govuk-input--width-10" aria-describedby="branch-cma-unattended-revenue-hint" value="0" pattern="[0-9]*" inputmode="numeric" type="text" name="branch[cma_unattended_revenue]" /></div></div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group"><label for="branch-cma-unattended-number-field" class="govuk-label">Funerals arranged</label><div class="govuk-hint" id="branch-cma-unattended-number-hint">Funerals carried out over the reporting period</div><input id="branch-cma-unattended-number-field" class="govuk-input govuk-input--width-5" aria-describedby="branch-cma-unattended-number-hint" inputmode="numeric" type="text" value="12" name="branch[cma_unattended_number]" /></div>
                </div>
            </div>
</fieldset>
        <fieldset class="govuk-fieldset"><legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Other unattended</legend>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group"><label for="branch-other-unattended-revenue-field" class="govuk-label">Total revenue</label><div class="govuk-hint" id="branch-other-unattended-revenue-hint">(excluding disbursements)</div><div class="govuk-input__wrapper"><span class="govuk-input__prefix" aria-hidden="true">£</span><input id="branch-other-unattended-revenue-field" class="govuk-input govuk-input--width-10" aria-describedby="branch-other-unattended-revenue-hint" value="0" pattern="[0-9]*" inputmode="numeric" type="text" name="branch[other_unattended_revenue]" /></div></div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group"><label for="branch-other-unattended-number-field" class="govuk-label">Funerals arranged</label><div class="govuk-hint" id="branch-other-unattended-number-hint">Funerals carried out over the reporting period</div><input id="branch-other-unattended-number-field" class="govuk-input govuk-input--width-5" aria-describedby="branch-other-unattended-number-hint" inputmode="numeric" type="text" value="12" name="branch[other_unattended_number]" /></div>
                </div>
            </div>
</fieldset>    

    <div class="govuk-button-group">
      <a class="govuk-button" href="./report_fd_10">Save changes</button>
      <a class="govuk-button govuk-button--secondary" href="./report_fd_10">Cancel</a>
</div>

     

    </div>

  </div>
{% endblock %}
