{% extends "layout.html" %}

{% block pageTitle %}
Review Answers
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Send funeral or crematorium information to the CMA",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="./map" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


<h1 class="govuk-heading-xl">Check your answers</h1>

<h2 class="govuk-heading-l">Organisation information</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Organisation name</dt>
        <dd class="govuk-summary-list__value">
            sdfsdf
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.name&quot;&gt;name&lt;/span&gt;" href="/wizard/organisation">
                Change<span class="govuk-visually-hidden"> &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.name&quot;&gt;name&lt;/span&gt;</span>
</a>        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><span class="translation_missing" title="translation missing: en.wizard.review.address">Address</span></dt>
        <dd class="govuk-summary-list__value">
            
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.address&quot;&gt;address&lt;/span&gt;" href="/wizard/organisation">
                Change<span class="govuk-visually-hidden"> &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.address&quot;&gt;address&lt;/span&gt;</span>
</a>        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><span class="translation_missing" title="translation missing: en.wizard.review.website">Website</span></dt>
        <dd class="govuk-summary-list__value">
            
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.url&quot;&gt;url&lt;/span&gt;" href="/wizard/organisation">
                Change<span class="govuk-visually-hidden"> &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.url&quot;&gt;url&lt;/span&gt;</span>
</a>        </dd>
    </div>
</dl>


<h2 class="govuk-heading-l">Contact information</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"><span class="translation_missing" title="translation missing: en.wizard.review.name">Name</span></dt>
        <dd class="govuk-summary-list__value">
            Jonathan Beckett
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.name&quot;&gt;name&lt;/span&gt;" href="#">
                Change<span class="govuk-visually-hidden"> &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.name&quot;&gt;name&lt;/span&gt;</span>
</a>        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Address</dt>
        <dd class="govuk-summary-list__value">
            01234 123456
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change address" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
</a>        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email</dt>
        <dd class="govuk-summary-list__value">
            jonathan.beckett@deltascheme.com
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change email" href="#">
                Change<span class="govuk-visually-hidden"> email</span>
</a>        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Subscribe to reminders?</dt>
        <dd class="govuk-summary-list__value">
            <span class="translation_missing" title="translation missing: en.wizard.review.no">No</span>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change subscribe to reminders?" href="#">
                Change<span class="govuk-visually-hidden"> subscribe to reminders?</span>
</a>        </dd>
    </div>
</dl>

<h2 class="govuk-heading-l">Reporting</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
    

            <dt class="govuk-summary-list__key">Funeral director, 10 or more branches, April return</dt>
            <dd class="govuk-summary-list__value">
                
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">&nbsp;</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.revenue">Revenue</span></th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.number">Number</span></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">CMA attended</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Other attended</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">CMA unattended</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Other unattended</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.totals">Totals</span></th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£4,936</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">48</td>
                            </tr>
                        </tbody>
                    </table>
            </dd>
            
        
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change Funeral director April return" href="#">
                Change<span class="govuk-visually-hidden"> Funeral director April return</span>
</a>        </dd>
    </div>




    <div class="govuk-summary-list__row">
    

            <dt class="govuk-summary-list__key">Funeral director, 10 or more branches, October return</dt>
            <dd class="govuk-summary-list__value">
                
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">&nbsp;</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.revenue">Revenue</span></th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.number">Number</span></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">CMA attended</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Other attended</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">CMA unattended</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Other unattended</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.totals">Totals</span></th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£4,936</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">48</td>
                            </tr>
                        </tbody>
                    </table>
            </dd>
            
        
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change Funeral director October return" href="#">
                Change<span class="govuk-visually-hidden"> Funeral director October return</span>
</a>        </dd>
    </div>




    <div class="govuk-summary-list__row">
    

            <dt class="govuk-summary-list__key">Crematorium operator, April return</dt>
            
            <dd class="govuk-summary-list__value">

                <h3 class="govuk-heading-s">First Quarter</h3>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.section">Section</span></th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.total_revenue">Total Revenue</span></th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.total_number">Total Number</span></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.standard">Standard</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.reduced">Reduced</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.unattended">Unattended</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.other">Other</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.memorials">Memorials</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.totals">Totals</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£6,170</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">48</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="govuk-heading-s">Second Quarter</h3>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.section">Section</span></th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.total_revenue">Total Revenue</span></th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.total_number">Total Number</span></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.standard">Standard</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.reduced">Reduced</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.unattended">Unattended</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.other">Other</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.memorials">Memorials</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£1,234</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.totals">Totals</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£6,170</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">48</td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change Crematorium operator April return" href="#">
                Change<span class="govuk-visually-hidden"> Crematorium operator April return</span>
</a>        </dd>
    </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><span class="translation_missing" title="translation missing: en.wizard.review.branch_list">Branch List</span></dt>
            <dd class="govuk-summary-list__value"><p>A
<br />B
<br />C</p></dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" title="Change Crematorium operator April return" href="#">
                    Change<span class="govuk-visually-hidden"> Crematorium operator April return</span>
</a>            </dd>
        </div>



    <div class="govuk-summary-list__row">
    

            <dt class="govuk-summary-list__key">Crematorium operator, October return</dt>
            
            <dd class="govuk-summary-list__value">

                <h3 class="govuk-heading-s">First Quarter</h3>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.section">Section</span></th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.total_revenue">Total Revenue</span></th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.total_number">Total Number</span></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.standard">Standard</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.reduced">Reduced</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.unattended">Unattended</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.other">Other</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.memorials">Memorials</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.totals">Totals</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="govuk-heading-s">Second Quarter</h3>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.section">Section</span></th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.total_revenue">Total Revenue</span></th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"><span class="translation_missing" title="translation missing: en.wizard.review.total_number">Total Number</span></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.standard">Standard</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.reduced">Reduced</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.unattended">Unattended</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.other">Other</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.memorials">Memorials</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><span class="translation_missing" title="translation missing: en.wizard.review.totals">Totals</span></th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change Crematorium operator October return" href="#">
                Change<span class="govuk-visually-hidden"> Crematorium operator October return</span>
</a>        </dd>
    </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><span class="translation_missing" title="translation missing: en.wizard.review.branch_list">Branch List</span></dt>
            <dd class="govuk-summary-list__value"><p>A
<br />B
<br />C</p></dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" title="Change Crematorium operator October return" href="#">
                    Change<span class="govuk-visually-hidden"> Crematorium operator October return</span>
</a>            </dd>
        </div>



    
    <div class="govuk-summary-list__row">

        <dt class="govuk-summary-list__key">Funeral director compliance statement</dt>
        <dd class="govuk-summary-list__value">

    
                    <h3 class="govuk-heading-s">Complied with</h3>
                    <ul class="govuk-list govuk-list--bullet">
                            <li>The Standardised Price List, Additional Options Price List and the price information provided by Crematorium Operators in accordance with Article 8 of the Order are displayed clearly and prominently within each of our Branches and on our website (where applicable) in accordance with Article 3 of the Order.</li>
                            <li>The Terms of Business are displayed clearly and prominently at each of our Branches and on our website (if applicable) in accordance with Article 4 of the Order.</li>
                            <li>Our interests are disclosed clearly and prominently at each of our Branches and on our website (if applicable) in accordance with Article 5 of the Order.</li>
                    </ul>
                            

                    <h3 class="govuk-heading-s">Not complied with</h3>
                    <ul class="govuk-list govuk-list--bullet">
                            <li>We have not entered into any arrangement with another party which could reasonably be understood to encourage, incentivise or require that party to refer Customers or potential Customers to us, or to give us preference over other Funeral Directors, in accordance with Article 6 of the Order.</li>
                            <li>We have terminated any arrangement, exchange of services or payments prohibited by Article 6 of the Order, in accordance with Article 7 of the Order.</li>
                            <li>We have provided the information required by the CMA, to the CMA, in accordance with Article 9 of the Order.</li>
                    </ul>



        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.funeral_director_statement&quot;&gt;Funeral Director Statement&lt;/span&gt;" href="#">
                Change<span class="govuk-visually-hidden"> <span class="translation_missing" title="translation missing: en.wizard.review.funeral_director_statement">Funeral Director Statement</span></span>
</a>        </dd>
        
    </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Tell us more about your compliance statement</dt>
            <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                    Reason
                </p>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" title="Change &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.funeral_director_statement_further_information&quot;&gt;Funeral Director Statement Further Information&lt;/span&gt;" href="#">
                    Change<span class="govuk-visually-hidden"> <span class="translation_missing" title="translation missing: en.wizard.review.funeral_director_statement_further_information">Funeral Director Statement Further Information</span></span>
</a>            </dd>
        </div>

    
    <div class="govuk-summary-list__row">

        <dt class="govuk-summary-list__key">Crematorium operator compliance statement</dt>
        <dd class="govuk-summary-list__value">


                    <h3 class="govuk-heading-s">Complied with</h3>
                    <ul class="govuk-list govuk-list--bullet">
                            <li>We have provided local Funeral Directors with the price information specified in Article 8 of the Order, in accordance with Article 8 of the Order.</li>
                    </ul>

                    <h3 class="govuk-heading-s">Not complied with</h3>
                    <ul class="govuk-list govuk-list--bullet">
                            <li>We have provided the information required by the CMA, to the CMA, in accordance with Article 10 of the Order.</li>
                    </ul>


        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" title="Change &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.crematorium_operator_statement&quot;&gt;Crematorium Operator Statement&lt;/span&gt;" href="#">
                Change<span class="govuk-visually-hidden"> <span class="translation_missing" title="translation missing: en.wizard.review.crematorium_operator_statement">Crematorium Operator Statement</span></span>
</a>        </dd>
        
    </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Tell us more about your compliance statement</dt>
            <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                    Reason
                </p>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" title="Change &lt;span class=&quot;translation_missing&quot; title=&quot;translation missing: en.wizard.review.crematorium_operator_statement_further_information&quot;&gt;Crematorium Operator Statement Further Information&lt;/span&gt;" href="#">
                    Change<span class="govuk-visually-hidden"> <span class="translation_missing" title="translation missing: en.wizard.review.crematorium_operator_statement_further_information">Crematorium Operator Statement Further Information</span></span>
</a>            </dd>
        </div>


</dl>

<form class="edit_submission" id="edit_submission_7df5d6ff-7a85-4d61-918b-2158604d5229" action="./summary" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="Jsi1SAs1kTaKp-9kIRpZo4Am7LuUHhkoUPvhAWQeO9tzmxx7a1EgHu8LaAH2m1dTo_3C6jI2KboKfh7S0nqrfA" autocomplete="off" />
    <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-disable-with="Please wait...">Continue</button>
</form>
      
      
    </div>

  </div>
{% endblock %}
