{% extends "layout.html" %}

{% block pageTitle %}
Update account details
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "CMA Funerals Market Service",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="./home" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-l">
        Update account details
      </h1>

      <p class="govuk-body">Check your account details and make changes if necessary. The CMA will only contact you if any details need further clarification.</p>
      <p class="govuk-body">If you choose to subscribe to reporting reminders by email, they will be sent automatically to remind you to submit your returns and/or compliance statements.</p>
            
      <fieldset class="govuk-fieldset">

        <h2 class="govuk-heading-m">Contact information</h2>

        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-name">
              Name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="contact-name" name="contact-name" type="text" value="Fred Smith">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-name">
              Job Title
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="job-title" name="job-title" type="text" value="Director">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="telephone-number">
            Telephone Number
          </label>
          <input class="govuk-input govuk-!-width-one-quarter" id="telephone-number" name="telephone-number" type="text" value="01234 123456">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email-address">
            E-mail Address
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="email-address" name="email-address" type="text" value="fred.smith@smithjonesandco.co.uk">
        </div>

        <h2 class="govuk-heading-m">Authorisation</h2>

        <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="signatory" name="signatory" type="checkbox" value="signatory" checked>
              <label class="govuk-label govuk-checkboxes__label" for="signatory">
                I can sign compliance statements on behalf of my organisation
              </label>
            </div>
          </div>
        </div>

        <h2 class="govuk-heading-m">Subscribe to Reminders?</h2>

        <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="subscribe" name="subscribe" type="checkbox" value="subscribe" checked>
              <label class="govuk-label govuk-checkboxes__label" for="subscribe">
                Subscribe to automatic reporting reminders by e-mail
              </label>
            </div>
          </div>
        </div>

      </fieldset>

      <div class="govuk-body">
        
        <a class="govuk-button" href="./home">Save and continue</a>
        
      </div>    

    </div>

  </div>
{% endblock %}
