{% extends "layout.html" %}

{% block pageTitle %}
What are you reporting?
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "CMA Funerals Market Service",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="./home" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  
    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset" aria-describedby="reporting-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What are you reporting?
          </h1>
        </legend>
        <div id="reporting-hint" class="govuk-hint">
          Select what you are reporting (you may choose more than one option):
        </div>

        <div class="govuk-inset-text">
          The "real" service will render options according to the organisation details
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-4">Funeral Directors</h2>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="april-funeral-director-returns5a" name="april-funeral-director-returns5a" type="checkbox" value="Yes">
            <label class="govuk-label govuk-checkboxes__label" for="april-funeral-director-returns5a">
              April returns
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="april-funeral-director-returns5o" name="april-funeral-director-returns5o" type="checkbox" value="Yes">
            <label class="govuk-label govuk-checkboxes__label" for="april-funeral-director-returns5o">
              October returns
            </label>
          </div>

        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-4">Crematorium Operators</h2>
        
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="april-crematorium-operator-returns" name="april-crematorium-operator-returns" type="checkbox" value="Yes">
            <label class="govuk-label govuk-checkboxes__label" for="april-crematorium-operator-returns">
              April returns<br /><small>1st working day of April (covering 1st September to last day of February)</small>
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="october-crematorium-operator-returns" name="october-crematorium-operator-returns" type="checkbox" value="Yes">
            <label class="govuk-label govuk-checkboxes__label" for="october-crematorium-operator-returns">
              October returns<br /><small>1st working day of October (covering 1st March to 31st August)</small>
            </label>
          </div>

        </div>
          
      </fieldset>

    </div>

    <div class="govuk-body">
      
      <a class="govuk-button" href="./part_b_funeral_director_april">Continue</a>
      
    </div>    


{% endblock %}
