{% extends "layout.html" %}

{% block pageTitle %}
  Mergers Surveys
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({serviceName: "CMA Mergers Surveys"}) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./index">Home</a>
      </li>
    </ol>
  </div>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="event-name">
            Email Address
          </label>
        </h1>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="event-name">
            Access Code
          </label>
        </h1>
        <input class="govuk-input" id="event-name" name="eventName" type="password">
      </div>
      
      <div class="govuk-button-group">
        <a class="govuk-button" href="./survey_preview_0">Login</a>
      </div>

      

    </div>

  </div>
{% endblock %}
