{% extends "layout.html" %}

{% block pageTitle %}
Part C - Crematorium Operators - April Return
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "CMA Funerals Market Service",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="./logic_loop" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-xl">Part C - Crematorium Operators - April Return</h1>

      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum nisl eget lectus convallis, et rhoncus justo vehicula.</p>


      <h2 class="govuk-heading-l govuk-!-margin-top-9">First Quarter of Reporting Period</h2>

      <div class="govuk-form-group">

        <h3 class="govuk-heading-m">Standard Fee Attended Services</h3>
        <p class="govuk-caption-m">Sed blandit ut orci dapibus tempor. Curabitur lacinia, est et scelerisque porttitor, magna leo vestibulum magna, sit amet gravida nulla libero interdum felis. Integer sit amet dapibus ligula.</p>

        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q1-standard-total">
                  Total revenue
                </label>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="q1-standard-total" name="q1-standard-total" type="text" spellcheck="false">
                </div>
              </div>
            
            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q1-standard-number">
                  Total number of cremations carried out
                </label>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="q1-standard-number" name="q1-standard-number" type="text" spellcheck="false">
                </div>
              </div>

            </div>
          </div>
        </div>

        <h3 class="govuk-heading-m">Reduced Fee Attended Services</h3>
        <p class="govuk-caption-m"> Duis sit amet sapien nec mi auctor malesuada id vitae tellus. Nullam euismod lacus ac ante consectetur, ac pretium ex vestibulum.</p>


        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q1-reduced-total">
                  Total revenue
                </label>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="q1-reduced-total" name="q1-reduced-total" type="text" spellcheck="false">
                </div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q1-reduced-number">
                  Total number of cremations carried out
                </label>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="q1-reduced-number" name="q1-reduced-number" type="text" spellcheck="false">
                </div>
              </div>

            </div>
          </div>
        </div>
        
        <h3 class="govuk-heading-m">Unattended Services</h3>
        <p class="govuk-caption-m"> Pellentesque aliquet massa mi, vitae rutrum turpis elementum quis. Praesent feugiat lacus a libero molestie consectetur. Vivamus vel ipsum quis augue vehicula rhoncus. Aliquam erat volutpat. Curabitur a pellentesque ex.</p>


        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q1-unattended-total">
                  Total revenue
                </label>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="q1-unattended-total" name="q1-unattended-total" type="text" spellcheck="false">
                </div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q1-unattended-number">
                  Total number of cremations carried out
                </label>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="q1-unattended-number" name="q1-unattended-number" type="text" spellcheck="false">
                </div>
              </div>

            </div>
          </div>
        </div>

        <h3 class="govuk-heading-m">Other Services</h3>
        <p class="govuk-caption-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum nisl eget lectus convallis, et rhoncus justo vehicula. Sed blandit ut orci dapibus tempor.</p>

        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q1-other-total">
                  Total revenue
                </label>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="q1-other-total" name="q1-other-total" type="text" spellcheck="false">
                </div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q1-other-number">
                  Total number of cremations carried out
                </label>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="q1-other-number" name="q1-other-number" type="text" spellcheck="false">
                </div>
              </div>

            </div>
          </div>
        </div>

        <h3 class="govuk-heading-m">Memorials</h3>
        <p class="govuk-caption-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum nisl eget lectus convallis, et rhoncus justo vehicula. Sed blandit ut orci dapibus tempor.</p>

        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q1-memorials-total">
                  Total revenue
                </label>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="q1-memorials-total" name="q1-memorials-total" type="text" spellcheck="false">
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <h2 class="govuk-heading-l govuk-!-margin-top-9">Second Quarter of Reporting Period</h2>

      <div class="govuk-form-group">

        <h3 class="govuk-heading-m">Standard Fee Attended Services</h3>
        <p class="govuk-caption-m">Sed blandit ut orci dapibus tempor. Curabitur lacinia, est et scelerisque porttitor, magna leo vestibulum magna, sit amet gravida nulla libero interdum felis. Integer sit amet dapibus ligula.</p>

        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q2-standard-total">
                  Total revenue
                </label>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="q2-standard-total" name="q2-standard-total" type="text" spellcheck="false">
                </div>
              </div>
            
            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q2-standard-cremations">
                  Total number of cremations carried out
                </label>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="q2-standard-number" name="q2-standard-number" type="text" spellcheck="false">
                </div>
              </div>

            </div>
          </div>
        </div>

        <h3 class="govuk-heading-m">Reduced Fee Attended Services</h3>
        <p class="govuk-caption-m"> Duis sit amet sapien nec mi auctor malesuada id vitae tellus. Nullam euismod lacus ac ante consectetur, ac pretium ex vestibulum.</p>


        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q2-reduced-total">
                  Total revenue
                </label>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="q2-reduced-total" name="q2-reduced-total" type="text" spellcheck="false">
                </div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q2-reduced-number">
                  Total number of cremations carried out
                </label>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="q2-reduced-number" name="q2-reduced-number" type="text" spellcheck="false">
                </div>
              </div>

            </div>
          </div>
        </div>
        
        <h3 class="govuk-heading-m">Unattended Services</h3>
        <p class="govuk-caption-m"> Pellentesque aliquet massa mi, vitae rutrum turpis elementum quis. Praesent feugiat lacus a libero molestie consectetur. Vivamus vel ipsum quis augue vehicula rhoncus. Aliquam erat volutpat. Curabitur a pellentesque ex.</p>


        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q2-unattended-total">
                  Total revenue
                </label>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="q2-unattended-total" name="q2-unattended-total" type="text" spellcheck="false">
                </div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q2-unattended-number">
                  Total number of cremations carried out
                </label>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="q2-unattended-number" name="q2-unattended-number" type="text" spellcheck="false">
                </div>
              </div>

            </div>
          </div>
        </div>

        <h3 class="govuk-heading-m">Other Services</h3>
        <p class="govuk-caption-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum nisl eget lectus convallis, et rhoncus justo vehicula. Sed blandit ut orci dapibus tempor.</p>

        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q2-other-total">
                  Total revenue
                </label>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="q2-other-total" name="q2-other-total" type="text" spellcheck="false">
                </div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q2-other-number">
                  Total number of cremations carried out
                </label>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="q2-other-number" name="q2-other-number" type="text" spellcheck="false">
                </div>
              </div>

            </div>
          </div>
        </div>

        <h3 class="govuk-heading-m">Memorials</h3>
        <p class="govuk-caption-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum nisl eget lectus convallis, et rhoncus justo vehicula. Sed blandit ut orci dapibus tempor.</p>

        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="q2-memorials-total">
                  Total revenue
                </label>
                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="q2-memorials-total" name="q2-memorials-total" type="text" spellcheck="false">
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="govuk-body">
        
        <a class="govuk-button" href="./logic_loop">Continue</a>
        
      </div>    

    </div>

  </div>
{% endblock %}
