{% extends "layout.html" %}

{% block pageTitle %}
  Whistleblower
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "CMA Public Gateway",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="./start" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Whistleblowing
      </h1>

      <p>Whistleblowers are employees, or former employees, that report illegal activities carried out by the business or organisation they're employed by.</p>

      <p>If the illegal activity relates to the sale of products, the supply of services or about competition affecting markets in the UK, it's important you report it to the CMA.</p>
        
      <p>You can email: <a href="mailto:whistleblower@cma.gov.uk">whistleblower@cma.gov.uk </a></p>
        
      <p>Find out more about what it means to be a whistleblower, including your rights and how the CMA will protect your identity on our <a href="https://www.gov.uk/government/publications/whistleblowers-at-the-cma">whistleblowing guidance page</a>.</p>

    </div>

  </div>
{% endblock %}
