{% extends "layout.html" %}

{% block pageTitle %}
Tell us about the related business
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "CMA Public Gateway",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="#" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-l">
        Edit business details
      </h1>
      
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <label class="govuk-label" for="business-name">
              Organisation Name
          </label>
          <input class="govuk-input" id="business-name" name="business-name" type="text" value="Deltascheme Limited">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="business-name">
            Street Name
          </label>
          <input class="govuk-input" id="business-name" name="business-name" type="text" value="Example Street">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="business-name">
            Town or City
          </label>
          <input class="govuk-input" id="business-name" name="business-name" type="text" value="Example Town or City">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="business-name">
            County (Optional)
          </label>
          <input class="govuk-input" id="business-name" name="business-name" type="text" value="Example County">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="business-name">
            Postcode (Optional)
          </label>
          <input class="govuk-input" id="business-name" name="business-name" type="text" value="ABC 123">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="business-name">
            Website (Opional)
          </label>
          <input class="govuk-input" id="business-name" name="business-name" type="text" value="https://www.deltascheme.com">
        </div>

      </div>

      <div class="govuk-body">
        
        <a class="govuk-button" href="./businesses">Continue</a>
        
      </div>    

    </div>

  </div>
{% endblock %}
