{% extends "layout.html" %}

{% block pageTitle %}
Submit your compliance statement
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Send funeral or crematorium information to the CMA",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="./map" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  

      <form class="edit_statement" id="edit_statement_61d38586-615e-4b91-ab42-6b69e9025e99" action="./compliance_co_more" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="ZBrWUk2IU-Xo33oqy61Kor8bI5woibp7ayHbWsfyRmlektD7YHvHEIIY6eEkm5dZA3DTJtuH5tkV0sm7vZRDBQ" autocomplete="off" />

    

        <fieldset class="govuk-fieldset"><legend class="govuk-fieldset__legend govuk-fieldset__legend--l">Submit your compliance statement</legend>
                
            <div class="govuk-form-group"><fieldset class="govuk-fieldset"><legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Crematorium operators</legend><input value="" name="statement[clauses][]" autocomplete="off" type="hidden" id="statement_clauses" /><div class="govuk-checkboxes" data-module="govuk-checkboxes">
    
                <p class="govuk-body">All crematorium operators must submit a compliance statement covering the preceding reporting year from 1 March to 31 April to the Competition and Markets Authority.</p>
                <p class="govuk-body">We may contact you for further clarification if needed.</p>
                <p class="govuk-inset-text">To be compliant with the Order, you must select all the options given below. If you are unable to do so, you can provide more information on the next page.</p>
                
                <div class="govuk-checkboxes__item"><input id="statement-clauses-co-pricelist-displayed-field" class="govuk-checkboxes__input" type="checkbox" value="co_pricelist_displayed" name="statement[clauses][]" />
                  <label for="statement-clauses-co-pricelist-displayed-field" class="govuk-label govuk-checkboxes__label">We have provided local funeral directors with the price information specified in the Order.</label>
                </div>
                <div class="govuk-checkboxes__item"><input id="statement-clauses-co-pricelist-displayed-field" class="govuk-checkboxes__input" type="checkbox" value="co_pricelist_displayed" name="statement[clauses][]" />
                  <label for="statement-clauses-co-pricelist-displayed-field" class="govuk-label govuk-checkboxes__label">We have displayed the price information specified in the Order clearly and prominently within each of our crematoria facilities and on our website (where applicable).</label>
                </div>
                <div class="govuk-checkboxes__item"><input id="statement-clauses-co-information-provided-field" class="govuk-checkboxes__input" type="checkbox" value="co_information_provided" name="statement[clauses][]" />
                  <label for="statement-clauses-co-information-provided-field" class="govuk-label govuk-checkboxes__label">We have provided the information required by the Competition and Markets Authority, to the Competition and Markets Authority, specified in the Order.</label>
                </div>
    
    </div></fieldset></div>    
    </fieldset>
        <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Continue</button>
        
    </form>


    </div>
  </div>
{% endblock %}
