{% extends "layout.html" %}

{% block pageTitle %}
Part B - Edit Branch
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Send funeral or crematorium information to the CMA",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="./report_fd_10" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-l">
        View Branch
      </h1>

      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum nisl eget lectus convallis, et rhoncus justo vehicula.</p>
      
      <div class="govuk-form-group">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="branch-name">
              Branch name
          </label>
          <div class="govuk-body">Example Branch A</div>
        </div>

        <h2 class="govuk-heading-m">CMA Attended</h2>

        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="total-revenue">
                  Total revenue
                </label>
                <div id="total-revenue-hint" class="govuk-hint">
                  (excluding disbursements)
                </div>
                <div class="govuk-body">123</div>
              </div>
            
            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="total-revenue">
                  Total number
                </label>
                <div id="total-revenue-hint" class="govuk-hint">
                  Funerals Arranged
                </div>
                <div class="govuk-body">123</div>
              </div>

            </div>
          </div>
        </div>

        <h2 class="govuk-heading-m">Other Attended</h2>

        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="total-revenue">
                  Total revenue
                </label>
                <div id="total-revenue-hint" class="govuk-hint">
                  (excluding disbursements)
                </div>
                <div class="govuk-body">123</div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="total-revenue">
                  Total number
                </label>
                <div id="total-revenue-hint" class="govuk-hint">
                  Funerals Arranged
                </div>
                <div class="govuk-body">123</div>
              </div>

            </div>
          </div>
        </div>
        
        <h2 class="govuk-heading-m">CMA Unattended</h2>

        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="total-revenue">
                  Total revenue
                </label>
                <div id="total-revenue-hint" class="govuk-hint">
                  (excluding disbursements)
                </div>
                <div class="govuk-body">123</div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="total-revenue">
                  Total number
                </label>
                <div id="total-revenue-hint" class="govuk-hint">
                  Funerals Arranged
                </div>
                <div class="govuk-body">123</div>
              </div>

            </div>
          </div>
        </div>

        <h2 class="govuk-heading-m">Other Unattended</h2>

        <div class="govuk-form-group">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="total-revenue">
                  Total revenue
                </label>
                <div id="total-revenue-hint" class="govuk-hint">
                  (excluding disbursements)
                </div>
                <div class="govuk-body">123</div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="total-revenue">
                  Total number
                </label>
                <div id="total-revenue-hint" class="govuk-hint">
                  Funerals Arranged
                </div>
                <div class="govuk-body">123</div>
              </div>

            </div>
          </div>
        </div>
        
      </div>

      <div class="govuk-body">
        
        <a class="govuk-button" href="./report_fd_10a">Return</a>
        
      </div>    

    </div>

  </div>
{% endblock %}
