
{% extends "layout.html" %}

{% block pageTitle %}
  CPG Prototypes
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "CPG Prototypes",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block content %}


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">CPG Prototypes</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" NOWRAP>Link to Prototype</th>
      <th scope="col" class="govuk-table__header" NOWRAP>Date</th>
      <th scope="col" class="govuk-table__header" NOWRAP>Notes</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/cpg/cpg0/homepage">Version 0</a></th>
      <td class="govuk-table__cell" NOWRAP>2022-03-15</td>
      <td class="govuk-table__cell">Initial release</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/cpg/cpg1/homepage">Version 1</a></th>
      <td class="govuk-table__cell" NOWRAP>2022-03-18</td>
      <td class="govuk-table__cell">Modified text on the start page</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/cpg/cpg2/homepage">Version 2</a></th>
      <td class="govuk-table__cell" NOWRAP>2022-03-24</td>
      <td class="govuk-table__cell">Simplified the "Report a competition or market problem" page</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/cpg/cpg3a/homepage">Version 3 A</a></th>
      <td class="govuk-table__cell" NOWRAP>2022-04-19</td>
      <td class="govuk-table__cell">Multiple changes as described in documents forwarded by Serina Dom, with alpha/beta versions of the homepage. Includes <a href="/cpg/cpg3a/email">Email Notification Text</a>.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/cpg/cpg3b/homepage">Version 3 B</a></th>
      <td class="govuk-table__cell" NOWRAP>2022-04-19</td>
      <td class="govuk-table__cell">Multiple changes as described in documents forwarded by Serina Dom, with alpha/beta versions of the homepage. Includes <a href="/cpg/cpg3b/email">Email Notification Text</a>.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/cpg/cpg3c/homepage">Version 3 C</a></th>
      <td class="govuk-table__cell" NOWRAP>2022-04-25</td>
      <td class="govuk-table__cell">Changes to the case finder page - <a href="/cpg/cpg3c/case-finder">Competition and Markets Authority Cases</a>.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/cpg/cpg4/homepage">Version 4</a></th>
      <td class="govuk-table__cell" NOWRAP>2022-07-01</td>
      <td class="govuk-table__cell">Redirects to the private beta.</a></td>
    </tr>
  </tbody>
</table>


{% endblock %}
