{% extends "layout.html" %}

{% block pageTitle %}
Submit your compliance statement
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "CMA Funerals Market Service",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="./logic_loop" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-xl">
        Submit your compliance statement
      </h1>

      <h2 class="govuk-heading-l">Crematorium operators</h2>

      <p class="govuk-body">All crematorium operators must submit a compliance statement. You will need to select all options that apply to your statement.</p>
      <p class="govuk-body">The CMA may contact you to further clarify information given, if you have provided contact details.</p>
      <p class="govuk-body">I confirm to the best of my knowledge that:</p>
      
      <div class="govuk-body">

        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                We have provided local Funeral Directors with the price information specified in Article 8 of the Order, in accordance with Article 8 of the Order.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                We have provided the information required by the CMA, to the CMA, in accordance with Article 10 of the Order.
              </label>
            </div>
          </div>
        </fieldset>
        
      </div>

      <div class="govuk-body">
        <a class="govuk-button" href="./logic_loop">Continue</a>
      </div>    

    </div>

  </div>
{% endblock %}
