{% extends "layout.html" %}

{% block pageTitle %}
Funeral directors with ten or more branches (April)
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "CMA Funerals Market Service",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="./reporting" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-xl">Funeral directors with ten or more branches (April)</h2>
      
      <p class="govuk-body">Please add the total revenue (excluding disbursements) and total number of funerals arranged to the table below. Enter separate details for each of your branches.</p>
      <p class="govuk-body">You will need to use the columns CMA Attended, Other Attended, CMA Unattended or Other Unattended to define how these totals were attended. If you’re unsure what these definitions are, visit the Funerals Order for more details.</p>  
      <p class="govuk-body">These should be within the 6 month period starting from 1 September.</p>
      <p class="govuk-body">You can edit or remove any information given by selecting Change or Remove.</p>
      <p class="govuk-body">Once you have entered all your branch information, select Continue. If your totals are different, you can explain the difference in the next section.</p>
      
      <div class="govuk-form-group">

        <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">Total Revenue and Funerals Arranged by Branch</caption>
        <caption class="govuk-table__caption govuk-table__caption--m">Previous Six Months</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" rowspan="2" class="govuk-table__header">Branch</th>
              <th scope="col" colspan="2" class="govuk-table__header govuk-table__header--numeric">CMA&nbsp;Attended</th>
              <th scope="col" colspan="2" class="govuk-table__header govuk-table__header--numeric">Other&nbsp;Attended</th>
              <th scope="col" colspan="2" class="govuk-table__header govuk-table__header--numeric">CMA&nbsp;Unattended</th>
              <th scope="col" colspan="2" class="govuk-table__header govuk-table__header--numeric">Other&nbsp;Unattended</th>
              <th scope="col" rowspan="2" class="govuk-table__header">&nbsp;</th>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Revenue</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">No.</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Revenue</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">No.</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Revenue</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">No.</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Revenue</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">No.</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Example Branch A</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£1234.56</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£1234.56</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£1234.56</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£1234.56</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="./part_b_edit">Change</a> <a href="#">Remove</a></td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Example Branch B</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£2345.56</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">234</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£2345.56</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">234</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£2345.56</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">234</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£2345.56</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">234</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="./part_b_edit">Change</a> <a href="#">Remove</a></td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Totals for all branches</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£3580.23</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">357</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£3580.23</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">357</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£3580.23</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">357</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£3580.23</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">357</td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
        </tbody>
        </table>

      </div>

      <div class="govuk-body"><a class="govuk-button" href="./part_b_add">Add Branch</a></div>    

      <div class="govuk-body"><a class="govuk-button" href="./compliance_funeral_director">Continue</a></div>    

    </div>

  </div>
{% endblock %}
