{% extends "layout.html" %}

{% block pageTitle %}
What are you reporting?
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "CMA Funerals Market Service",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="./organisation" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  
  
    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset" aria-describedby="what-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What are you reporting?
          </h1>
        </legend>
        <div id="what-hint" class="govuk-hint">
          Please select what you are reporting:
        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funeral-director-returns-5" name="funeral-director-returns-5" type="checkbox" value="Yes" checked onclick="return false;" onkeydown="return false;">
            <label class="govuk-label govuk-checkboxes__label" for="funeral-director-returns-5">
              Funeral Director Returns (for more than 5 branches)
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funeral-director-returns-10" name="funeral-director-returns-10" type="checkbox" value="Yes" onclick="return false;" onkeydown="return false;">
            <label class="govuk-label govuk-checkboxes__label" for="funeral-director-returns-10">
              Funeral Director Returns (for more than 10 branches)
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="crematorium-operator-returns" name="crematorium-operator-returns" type="checkbox" value="Yes" onclick="return false;" onkeydown="return false;">
            <label class="govuk-label govuk-checkboxes__label" for="crematorium-operator-returns">
              Crematorium Operator Returns
            </label>
          </div>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="funeral-director-compliance-statement" name="funeral-director-compliance-statement" type="checkbox" value="Yes" checked onclick="return false;" onkeydown="return false;">
            <label class="govuk-label govuk-checkboxes__label" for="funeral-director-compliance-statement">
              Funeral Director Compliance Statement
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="crematorim-operator-compliance-statement" name="crematorim-operator-compliance-statement" type="checkbox" value="Yes" onclick="return false;" onkeydown="return false;">
            <label class="govuk-label govuk-checkboxes__label" for="crematorim-operator-compliance-statement">
              Crematorium Operator Compliance Statement
            </label>
          </div>

        </div>
      </fieldset>

    </div>

    <div class="govuk-body">
      
      <a class="govuk-button" href="./part_a_funeral_director">Continue</a>
      
    </div>    


{% endblock %}
