{% extends "layout.html" %}

{% block pageTitle %}
Submit your compliance statement
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "CMA Funerals Market Service",
  serviceUrl: "#",
  navigation: []
}) }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a href="./map" class="govuk-back-link">Back</a>

  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h1 class="govuk-heading-xl">Submit your compliance statement</h1>

      <h2 class="govuk-heading-l">Funeral directors</h2>

      <p class="govuk-body">Funeral directors with 10 or more branches must submit a compliance statement.</p>
      <p class="govuk-body">You will need to select all options that apply to your statement.</p>
      <p class="govuk-body">The CMA may contact you to further clarify information given, if you have provided contact details</p>

      <p class="govuk-body">I confirm to the best of my knowledge that:</p>

      <div class="govuk-body">

        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                The Standardised Price List, Additional Options Price List and the price information provided by Crematorium Operators in accordance with Article 8 of the Order are displayed clearly and prominently within each of our Branches and on our website (where applicable) in accordance with Article 3 of the Order.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                The Terms of Business are displayed clearly and prominently at each of our Branches and on our website (if applicable) in accordance with Article 4 of the Order.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Our interests are disclosed clearly and prominently at each of our Branches and on our website (if applicable) in accordance with Article 5 of the Order.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                We have not entered into any arrangement with another party which could reasonably be understood to encourage, incentivise or require that party to refer Customers or potential Customers to us, or to give us preference over other Funeral Directors, in accordance with Article 6 of the Order.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                We have terminated any arrangement, exchange of services or payments prohibited by Article 6 of the Order, in accordance with Article 7 of the Order.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                We have provided the information required by the CMA, to the CMA, in accordance with Article 9 of the Order.
              </label>
            </div>
        </fieldset>

      </div>

      <div class="govuk-body">
        <a class="govuk-button" href="./map">Continue</a>
      </div>    

    </div>

  </div>
{% endblock %}
